In [1]:
import pandas as pd

In [2]:
melbourne_data = pd.read_csv('Desktop/MELBOURNE_HOUSE_PRICES_LESS.csv')
melbourne_data.describe()

              Rooms         Price      Postcode  Propertycount      Distance
count  63023.000000  4.843300e+04  63023.000000   63023.000000  63023.000000
mean       3.110595  9.978982e+05   3125.673897    7617.728131     12.684829
std        0.957551  5.934989e+05    125.626877    4424.423167      7.592015
min        1.000000  8.500000e+04   3000.000000      39.000000      0.000000
25%        3.000000  6.200000e+05   3056.000000    4380.000000      7.000000
50%        3.000000  8.300000e+05   3107.000000    6795.000000     11.400000
75%        4.000000  1.220000e+06   3163.000000   10412.000000     16.700000
max       31.000000  1.120000e+07   3980.000000   21650.000000     64.100000

In [3]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [4]:
melbourne_data=melbourne_data.dropna(axis=0)

In [5]:
predictiontarget=melbourne_data.Price

In [6]:
melbourne_features = [ 'Rooms','Postcode','Distance']

In [7]:
X = melbourne_data[melbourne_features]

In [8]:
X.describe()

              Rooms      Postcode      Distance
count  48433.000000  48433.000000  48433.000000
mean       3.071666   3123.210332     12.702761
std        0.944708    125.534940      7.550030
min        1.000000   3000.000000      0.000000
25%        2.000000   3051.000000      7.000000
50%        3.000000   3103.000000     11.700000
75%        4.000000   3163.000000     16.700000
max       31.000000   3980.000000     55.800000

In [9]:
X.head()

   Rooms  Postcode  Distance
0      3      3067       3.0
1      3      3067       3.0
2      3      3067       3.0
3      3      3040       7.5
4      2      3042      10.4

In [10]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
model=DecisionTreeRegressor(random_state=1)

In [12]:
model.fit(X,predictiontarget)

DecisionTreeRegressor(random_state=1)

In [13]:
print(X.head())

   Rooms  Postcode  Distance
0      3      3067       3.0
1      3      3067       3.0
2      3      3067       3.0
3      3      3040       7.5
4      2      3042      10.4

In [14]:
print(model.predict(X.head()))

[1241833.33333333 1241833.33333333 1241833.33333333 1162721.97309417
  647622.09302326]